<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assetsio.reedpopcdn.com/warhammer-40000-ninth-edition-space-marine-army.jpg?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp);">
  <h2 class="banner-text">Collectiverse</h2>
  <div class="button-container">
  <%= link_to 'SELL YOU TOY!', new_toy_path, class: "btn btn-primary btn-lg button-banner-index" %>
  <%= link_to 'BUY NEW TOY!', toys_path, class: "btn btn-primary btn-lg button-banner-index" %>
  </div>
</div>

<div class="container mt-5">
  <div class="cards">
    <% @toys.each do |toy| %>
      <div class="card mb-3 mx-auto card-min-height" style="width: 18rem;">
        <%= link_to toy_path(toy) do  %>
          <div class="card-image">
            <p> <%= cl_image_tag toy.photo.key, height: "300px", class: "card-img-top" %> </p>
          </div>
          <div class="card-content m-3">
            <h3 class="toy-name"><%= toy.name %></h3>
            <p class="toy-price"><%= number_to_currency(toy.price) %><span>Incl. shipment</span></p>
            <p class="toy-seller"><i class="fa-solid fa-shop"></i><span><%= toy.user.username %></span></p>
          </div>
        <% end %>
      </div>
  <% end %>
  </div>
</div>
