<div class="p-5 mb-4 rounded-3 bg-warning" id="jumbotron">
  <div class="container-fluid py-5">
    <h2 class="display-6 fw-bold">Collectiverse is the best way to find and sell toys</h2>
    <p class="col-md-9 fs-4">Explore the variety of toys, buy and sell. Find out what interesting toys your neighbours are selling.</p>
    <a href="/toys/new" class="btn btn-primary btn-lg" type="button">Add toy</a>
  </div>
</div>

<h1>Toys</h1>
<div class="container">
<div class="row">
  <% @toys.each do |toy| %>
    <div class="col-md-3 ">
      <div class=“thumbnail”>
        <div class=“caption”>
          <h3><%= toy.name %> </h3>
          <p><%= number_to_currency(toy.price) %> </p>
          <p> <%= "Sold by: #{toy.user.first_name}"%> </p>
            <%= link_to 'Show', toy_path(toy), class: "btn btn-link" %>
          <% if (user_signed_in?) && (current_user == toy.user) %>
            <%= link_to 'Edit', edit_toy_path(toy), class: "btn btn-link" %>
            <%= link_to 'Destroy', toy, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-link" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to "New toy", new_toy_path %>
<% end %>
