<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assetsio.reedpopcdn.com/warhammer-40000-ninth-edition-space-marine-army.jpg?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp);">
  <h2 class="banner-text">Collectiverse</h2>
  <div class="button-container">
  <%= link_to 'SELL YOU TOY!', new_toy_path, class: "btn btn-primary btn-lg button-banner-index" %>
  <%= link_to 'BUY NEW TOY!', toys_path, class: "btn btn-primary btn-lg button-banner-index" %>
  </div>
</div>

<div class="container mt-5">
  <div class="cards">
    <% @toys.each do |toy| %>
      <div class="card mb-3 mx-auto card-min-height" style="width: 18rem;">
        <%= link_to toy_path(toy) do  %>
          <div class="card-image">
            <p> <%= cl_image_tag toy.photo.key, height: "300px", class: "card-img-top" %> </p>
          </div>
          <div class="card-content m-3">
            <h3 class="toy-name"><%= toy.name %> </h3>
            <p class="toy-desc"><%= toy.description %> <p>
            <p class="toy-price"><%= number_to_currency(toy.price) %> </p>
            <p class="toy-seller"> <%= "Sold by: #{toy.user.username}"%> </p>
          </div>
        <% end %>
        <% if (user_signed_in?) && (current_user == toy.user) %>
          <%= link_to 'Edit', edit_toy_path(toy), class: "btn btn-link" %>
          <%= button_to "delete", toy, method: :delete, data: { turbo_confirm: "Sure?" }, class: "btn btn-link" %>
        <% end %>
      </div>
  <% end %>
  </div>
</div>

<%# probably needed dont remove %>
          <%# <div class="card">
            <div class="card__content">
              <div class="card__image">
                <img src="images/2.png" alt="">
              </div>
              <div class="card__content__text">
                <h4>WAIT FOR IT!</h4>
                <p>Go have some fun in real life and your families before 17th of June!</p>
              </div>
            </div>
          </div> %>

<br>
<% if user_signed_in? %>
  <%= link_to "New toy", new_toy_path %>
<% end %>
