<div class="container mt-5 full-page">
    <div class="row center">
      <div class="text-center">
          <h2 class="purchases">Your purchases history</h2>

          <table class="table table-striped table-bordered mt-3">
              <tr>
                  <th class="center">Image</th>
                  <th class="center">Item</th>
                  <th class="center">Price</th>
                  <th class="center">Seller</th>
                  <th class="center">Date purchased</th>
                  <th class="center">Order status</th>
              </tr>

              <% @orders.each do |order| %>
              <tr class="table-center">
                  <td><%= cl_image_tag order.toy.photo.key, class:"image-sales-listening" %></td>
                  <td><%= order.toy.name%></td>
                  <td><%= number_to_currency(order.toy.price) %></td>
                  <td><%= order.toy.user.first_name %></td>
                  <td><%= order.created_at.strftime("%B %-d, %Y")%></td>
                  <td><%= order.status%></td>
              </tr>
              <% end %>
          </table>
      </div>
    </div>

  <br>

  <div class="text-center">
    <% if user_signed_in? %>
      <%= link_to "See toys", toys_path, class:"btn center btn-sm btn-outline-secondary py-2 px-4" %>
    <% end %>
  </div>
</div>
