<div class="container-fluid">
    <div class="row center">
        <h2>Your sales history</h2>

        <table class="table table-striped table-bordered">
            <tr>
                <th class="center">Image</th>
                <th class="center">Item</th>
                <th class="center">Price</th>
                <th class="center">Customer</th>
                <th class="center">Date sold</th>
                <th class="center">Status</th>
            </tr>

            <% @orders.each do |order| %>
            <tr>
                <td>Image</td>
                <td><%= order.toy.name %></td>
                <td><%= number_to_currency(order.toy.price) %></td>
                <td><%= order.toy.user.first_name %></td>
                <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
                <td><%= order.status %></td>
                <td><%= link_to "accept", order_path(order.id, status: "completed"), data: {turbo_method: :patch}%></td>
                <td><%= link_to "declind", order_path(order.id, status: "declined"), data: {turbo_method: :patch}%></td>
            </tr>
            <% end %>
        </table>
    </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to "New listing", new_toy_path %>
<% end %>
